body{
    
    margin: 0;
}

#idHeader{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}
.classAncora{
    margin: 20px;
    color: white;
    text-decoration: none;
}

#idMain{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#idSection01{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
}

#form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#idDivBtn{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#idBtnSub{
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
}

#idBtnCan{
    background-color: rgb(236, 75, 75);
    color: white;
    width: 70px;
    height: 30px;
    border: none;
}

#idFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}