body{
    margin: 0;
}

#idHeader{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}
.classAncora{
    margin: 20px;
    color: white;
    text-decoration: none;
}

#idMain{
    width: 100%;
    height: 600px;
    background-image: url(../images/la.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

#idSection01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    color: white;
}

#divTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idSection02{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idDivTexto{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}