body{
   
    margin: 0;
}

#idHeader{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}
.classAncora{
    margin: 20px;
    color: white;
    text-decoration: none;
}

#idMain{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#idSection1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: black;
}


#idFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}